* {
  padding: 0px;
  margin: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: none;
  margin-left: 80px;
  margin-right: 80px;
}

.Heros,
.Villans {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;
}

#Score {
  text-align: center;
  margin-top: 10px;
}

#Images {
  width: 75px;
  height: 75px;
}

.Players {
  display: grid;
  justify-items: center;
  align-content: center;
  border-radius: 15px;
  border: 1px solid lightgrey;
  box-shadow: 1.5px 1.5px lightgrey;
  padding: 10px;
  margin-top: 10px;
}

.footer {
  margin-left: 80px;
  padding-top: 10px;
  font-size: 18px;
}
